API_NAME=Juno X Music API
ADMIN_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
API_DB=/tmp/juno_api.sqlite3
MAX_DURATION=900
MAX_RESULTS=20
MAX_CONCURRENT_DOWNLOADS=4
MAX_CONCURRENT_LOOKUPS=12
RATE_LIMIT_PER_MINUTE=120
DOWNLOAD_TIMEOUT=300
